@font-face {
  font-family: "iconfont"; /* Project id 5043074 */
  src: url('iconfont.woff2?t=1760679530315') format('woff2'),
       url('iconfont.woff?t=1760679530315') format('woff'),
       url('iconfont.ttf?t=1760679530315') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-binggao:before {
  content: "\e6c7";
}

.icon-qiaokeli:before {
  content: "\e6c8";
}

.icon-regou:before {
  content: "\e6c9";
}

.icon-kafei:before {
  content: "\e6ca";
}

